html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jockey One', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
}

p, div {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.1em;
}

#top {
  background-image: url('../img/abstract_06.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-icon {
  font-size: 3.2em;
}

#header-text {
  text-shadow: 11px 11px 9px rgba(0, 0, 0, 0.75);
  color: steelblue;
  font-size: 9em;
}

img#backbone {
  width: 1.75em;
}

.img-portfolio {
  height: 20em;
}

#about, #portfolio {
  background-image: url('../img/textures/snow_01.jpg');
  background-position: center;
  background-attachment: fixed;
}

#services {
  background-color: steelblue;
}

.portfolio-text {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
}

.callout {
  background: url(../img/abstract_04.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#skills, #hobbies {
  padding: 50px 0;
  color: #ffffff;
  background-image: url('../img/textures/water_01_zoom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.emphasized {
  box-shadow: 0 0 1em 1em #443838;
}

.accented {
  text-shadow: 1px 1px 1px #ccc;
}