html {
  font-size: 16px;
}

#skills {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

#hobbies {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

img#backbone {
  width: 1.75em;
}