html {
  font-size: 16px
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'helvetica', 'arial', sans-serif;
  background-color: #2d2d2d;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.title {
  text-align: center;
}

#profile-pic {
  border-radius: 10em;
  width: 10em;
  height: auto;
  padding-top: 3em;
}

#profile-pic:hover {
  opacity: 0.8;
}

h1 {
  font-size: 2em;
  color: #CCCCCC;
}

.icons {
  font-size: 3em;
  border-bottom: 1px solid #444;
  padding-bottom: 0.6em;
}

.icons .fa {
  color: aliceblue;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.icons .fa:hover {
  color: #639BF1;
}

#about-me {
  text-align: center;
  color: #CCCCCC;
}

a {
  text-decoration: none;
}

#project-wrapper {
  margin: 0 auto;
  width: 80%;
  background-color: #003058;
}

#projects {
  margin: 0 auto;
  width: 60%;
  background-color: #7F909A;
}

.project-image {
  width: 300px;
  margin-top: 2.4em;
}

.project-image:hover{
  border-style: solid;
  border-color: aquamarine;
}

#projects p {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.75em;
}

#projects ul {
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
}

#projects li {
  list-style: none;
  margin: 0 auto;
}

p.repo-link:hover {
  text-decoration: underline;
}

#spacing-bottom {
  height: 2.4em;
}

.contact-me p{
  float: right;
  color: #CCCCCC;
  margin-left: 1.5em;
}

.contact-me p:hover {
  color: #639BF1;
}

@media screen and (max-width: 1100px) {

  .project-image {
    width: 250px
  }

  #projects p {
    max-width: 300px;
  }
}

@media screen and (max-width: 800px) {

  .project-image {
    max-width: 200px
  }

  #projects p {
    width: 250px;
  }

  .contact-me p {
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 100%;
  }
  #projects {
    width: 100%;
    background-color: #7F909A;
  }

  .contact-me p {
    text-align: center;
    float: none;
  }
}
