html {
  font: 16px
}

body {
  width: auto;
  height: auto;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: arial, sans-serif;
}

.title {
  text-align: center;
}

.projects {
  width: 80%;
  height: 80%;
}

.project-image {
  width: 48em;
  height: 27em;
}


